/Binaries/
/Build/
/DerivedDataCache/
/Intermediate/
/Saved/
/Platforms/

.vs/
.vscode/
.idea/
*.sln
*.suo
*.user
*.opensdf
*.sdf
*.xcodeproj/
*.xcworkspace/
*.xcuserdata/
*.ds_store

*.log
*.tmp

/Source/*.generated.cpp
/Source/*.generated.h

/Plugins/*/Intermediate/
/Plugins/*/Binaries/